.slide-container {
  width: 73%;
  text-align: center;
}

.project-slides {
  display: flex;
  overflow: hidden;
  margin-left: 5vw;
  align-items: flex-end;
  flex-flow: row nowrap;
}
.project-slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.project-slides::-webkit-scrollbar-thumb {
  background: #003380;
  border-radius: 10px;
}
.project-slides::-webkit-scrollbar-track {
  background: transparent;
}

.project-slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  border-radius: 4px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

/* CAROUSEL BUTTON CSS */
.button-containers {
  width: 95%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 5%;
}
.button-containers > .button {
  transform: scale(1.5);
}

.toggle {
  color: blue;
}

.toggle:nth-of-type(1).project-bit {
  left: 0%;
}
.toggle:nth-of-type(2).project-bit {
  left: -100%;
}
.toggle:nth-of-type(3) .project-bit {
  left: -200%;
}
