html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.shadow {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.landingPage {
  height: 100%;
  width: 100%;
  background-image: url("./bluewood.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.nameDiv {
  display: flex;
}

.landingPage h1,
h2 {
  color: white;
  letter-spacing: 0.12em;
}

.landingPage h1 {
  margin-bottom: 0;
}
.line {
  width: 18%;
  color: white;
}

.buttonDiv {
  margin: 0 10px;
  width: 42%;
  display: flex;
  flex-direction: wrap;
  justify-content: space-around;
}

.buttonDiv button {
  background-color: transparent;
  font-family: inherit;
  width: 100px;
  padding: 10px;
  letter-spacing: 0.11em;
  color: white;
  border: none;
  border-bottom: 2px solid #f7f7f7;
  border-radius: 2px;
  outline: none;
}

.buttonDiv button:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 20px #888888;
  cursor: pointer;
  letter-spacing: 0.121em;
  transition: 0.1s ease-in;
}

/* PROJECTS BUTTON */
.downButton {
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
  text-align: center;
  color: white;
  font-weight: 700;
  letter-spacing: 0.12em;
}
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  box-shadow: 5px 10px 8px #888888;
}
.arrowButton {
  margin-bottom: 0;
  margin-top: 5px;
}
.downButton a:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: 0.2s ease;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* PROJECTS PAGE */
#projectPage {
  background-color: #c7ced6;
  color: black;
}
.projectContainer {
  height: 125vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.bodyPage {
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.project {
  height: 50vh;
  width: 45vw;
  min-height: 265px;
  min-width: 560px;
  border: 1px solid black;
  margin: 15px;
}

.project p {
  text-align: left;
  padding: 0 15px;
}

.church {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url("./website.PNG");
}

.church:hover {
  opacity: 0.8;
}

.church:hover > .hideReveal {
  visibility: visible;
}

.money {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url("./img4.jpg");
}

.money:hover {
  opacity: 0.8;
}

.money:hover > .hideReveal {
  visibility: visible;
}

.description ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.description li {
  display: inline;
  text-align: center;
  padding: 3px;
  font-size: 14px;
  border: 1px solid black;
}

.projectButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  letter-spacing: 0.11em;
}

.hideReveal {
  visibility: hidden;
}

.hideReveal button {
  outline: none;
  opacity: 1;
  font-family: inherit;
  letter-spacing: 0.1em;
  height: 30px;
  margin: 0 10px;
  border-radius: 1px;
  border: 1px solid darkslategray;
}

.hideReveal button:hover {
  cursor: pointer;
  background-color: white;
  transform: scale(1.1);
  box-shadow: 0 4px 20px #888888;
  letter-spacing: 0.11em;
  transition: 0.1s ease-in;
}

/* CONTACT PAGE */
.contact {
  height: 75vh;
  width: 100%;
  background-color: #0c2f4e;
}

.contactContainer {
  display: flex;
}
.contact h1 {
  text-align: center;
  color: #acbdd4;
  letter-spacing: 0.11em;
  font-size: 2.2em;
  padding-top: 20px;
  margin-top: 0;
}
.contactOne,
.contactTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.contactOne {
  text-align: center;
}

.inputBox {
  background-color: transparent;
  height: 5vh;
  width: 40vw;
  font-size: 18px;
  margin: 5px;
  border: none;
  border-bottom: 2px solid #acbdd4;
  outline: none;
  color: #acbdd4;
}
.inputBox::placeholder {
  color: #bac2cd;
  opacity: 0.8;
}

#submitButton {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid #364964;
  transform: translate3d(0px, -45px, 0px);
  text-align: center;
  font-size: 22px;
  letter-spacing: 0.1em;
  background-color: #bac2cd;
  color: #364964;
  font-weight: 700;
  outline: none;
}

#submitButton:hover {
  cursor: pointer;
  box-shadow: 0 4px 20px #888888;
  letter-spacing: 0.15em;
  transition: 0.1s ease-in;
}

.contactTwo {
  text-align: left;
  align-items: flex-start;
  color: #bac2cd;
}

.contactTwo h3 {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 0;
  letter-spacing: 0.11em;
}
