/* Pop-Up Background Div */
.popup {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 75%;
}

.pop-column-2 {
  transform: translateY(28px);
  border-left: 1px solid black;
  padding-left: 8px;
  flex: 2;
}

.pop-column-1 {
  margin-top: 0;
  transform: translateY(28px);
  flex: 8;
}

#popup1,
#popup2 {
  display: none;
}

/* Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
