/* PROJECTS PAGE */
#projectPage {
  background-color: #e8eaeb;
  color: #606060;
}
.projectContainer {
  height: 125vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.bodyPage {
  position: relative;
}

.project {
  height: 70%;
  width: 45vw;
  margin: 15px;
  margin-left: 0px;
}

.project p {
  text-align: left;
  padding: 0 15px;
}

/* INDVIDUAL PROJECT CONTAINER */
#project1,
#project2 {
  height: 90vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.headerContainer {
  height: 100%;
  width: 100%;
  background: none;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.projectHeader {
  font-family: Montserrat, sans-serif;
  font-size: 6vw;
  font-weight: 800px;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #364964;
  margin-top: 0;
  z-index: 4;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.imageContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  padding-top: 5vw;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dadada;
}

.imageContainer img {
  height: 75%;
}

.imageContainer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: #e8eaeb;
  border-radius: 10px;
}

/* Scroll Bar */
.imageContainer::-webkit-scrollbar {
  width: 10px;
  background-color: #e8eaeb;
}

.imageContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}

.imgColumn {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.imgColumn img {
  margin-right: 12px;
}

.projectHeader:hover {
  cursor: pointer;
  color: #5f7ead;
  -webkit-text-stroke-width: 0;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.projectHeader:hover + .imageContainer {
  filter: brightness(50%);
}

.description ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.description li {
  display: list-item;
  text-align: left;
  padding: 3px;
  font-size: 14px;
}

/* PROJECT BUTTONS */
.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #535353;
  margin: 20px 20px 20px 20px;
  color: #535353;
  background-color: transparent;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.button a {
  transform: translateY(12px);
  position: relative;
  transition: all 0.45s ease-Out;
  height: 100%;
  width: 100%;
}
.translate {
  transform: rotate(50deg);
  width: 100%;
  height: 250%;
  left: -200px;
  top: -30px;
  background: #88aade;
  position: absolute;
  transition: all 0.3s ease-Out;
}

.button:hover .translate {
  left: 0;
}
.button:hover a {
  color: darkslategray;
}

.test {
  filter: brightness(50%);
}
