@media (max-width: 1234px) {
  .popup-content {
    width: 75%;
  }
}

@media (max-width: 1075px) {
  .buttonDiv {
    width: 40%;
  }
  .buttonDiv button {
    margin: 5px;
  }
  .contact {
    height: max-content;
  }
  .contactScale {
    height: 100%;
  }
  .contactContainer {
    flex-direction: column;
  }
  .contactOne,
  .contactTwo {
    width: 100%;
  }
  .inputBox {
    width: 85%;
  }
  .contactTwo {
    align-items: center;
    flex-shrink: 2;
  }
  .button-containers > .button {
    transform: scale(1) !important;
  }
}

@media (max-width: 850px) {
  .imageContainer {
    width: 90%;
  }
  .projectHeader {
    font-size: 8vw;
  }
  .project p {
    font-size: 0.9em;
  }
  .button {
    margin: 10px;
  }
  h3 {
    font-size: 1em;
  }
  .button-containers > .button {
    margin-right: 0 !important;
  }
}

@media (max-width: 650px) {
  .popup-content {
    height: 100%;
    overflow-y: scroll;
  }
  .project li {
    font-size: 11px;
  }
  .button-containers > .button {
    transform: scale(0.8) !important;
    margin: 0;
  }
}
