@media (max-width: 1175px) {
  .projectContainer {
    display: flex;
    flex-direction: column;
    height: 1300px;
  }
}
@media (max-width: 1075px) {
  .buttonDiv {
    width: 60%;
  }
  .contact {
    height: max-content;
  }
  .contactScale {
    height: 100%;
  }
  .contactContainer {
    flex-direction: column;
  }
  .contactOne,
  .contactTwo {
    width: 100%;
  }
  .inputBox {
    width: 85%;
  }
  .contactTwo {
    align-items: center;
    flex-shrink: 2;
  }
}

/* @media (max-width: 828px) {
  .buttonDiv {
    width: 62%;
  }
} */

@media (max-width: 740px) {
  .buttonDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .buttonDiv button {
    margin: 5px;
  }
}

@media (max-width: 580px) {
  .project {
    font-size: 13px;
    min-height: 250px;
    min-width: 470px;
  }
  .project li {
    font-size: 11px;
  }
}
